<script src="../../app.routes.ts"></script>
<nav class="bg-black text-white border-b border-gray-800">
  <div class="container mx-auto px-4 py-6 flex justify-between items-center">
    <div class="text-2xl font-black tracking-tight">ELECTRONIC WORKSHOP</div>
    <ul class="flex space-x-8">
      <li><a routerLink="/home"
          class="text-gray-400 hover:text-white transition uppercase text-sm font-semibold tracking-wider">Home</a></li>
      <li><a routerLink="/products"
          class="text-gray-400 hover:text-white transition uppercase text-sm font-semibold tracking-wider">Products</a>
      </li>
      <li><a routerLink="/create-product"
          class="text-gray-400 hover:text-white transition uppercase text-sm font-semibold tracking-wider">Add Product</a>
      </li>
    </ul>
  </div>
</nav>
