.registration-card {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.registration-card h2 {
  text-align: center;
  margin-bottom: 5px;
  color: #333333;
}

.registration-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.registration-card button {
  width: 50%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-msg {
  color: red;
  font-size: 0.9em;
  margin-top: -5px;
  margin-bottom: 10px;
}
